# In this notebook, I'll try to apply some machine learning techniques.

#### First of all,  I install require packagues for later analysis and I load WHOCOMPLETE dataset from DATASETS directory.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
whodf = pd.read_csv("../DATASETS/whocomplete.csv", sep = ";")
whodf.head(5)

,Country,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,WestAsia,151.0,28.00,9800.0,90.0,91.0,26088.0,4.0,23.0,...,692.500,2.360000e+10,71.790,-2.395000e+07,257.00,231.90,257.00,5740436.0,5.44,22.90
1,Albania,Europe,27.0,98.70,6000.0,93.0,94.0,3172.0,0.6,46.0,...,3499.120,4.790000e+09,78.140,-2.040000e+09,18.47,15.50,18.47,1431793.9,2.21,45.40
2,Algeria,Africa,6.0,69.90,5940.0,94.0,96.0,33351.0,1.5,64.0,...,137535.560,6.970000e+10,351.360,4.700000e+09,40.00,31.20,40.00,20800000.0,2.61,63.30
3,Andorra,Europe,19.0,98.75,15905.0,83.0,83.0,74.0,1.0,93.0,...,47294.915,3.760000e+10,33.495,-4.550000e+08,7.75,7.95,7.75,5027038.5,0.48,66.95
4,Angola,Africa,146.0,67.40,3890.0,49.0,51.0,16557.0,2.8,54.0,...,8991.460,1.490000e+10,27.130,9.140000e+09,164.10,242.50,164.10,8578749.0,4.14,53.30

In [6]:
# FEATURE PREPROCESSING